In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier

In [4]:
# Import data from csv files

train = pd.read_csv(r'~/Documents/FALL2021/COMP551/Assignment1/comp551-p1/Adult/adult.csv')
test = pd.read_csv(r'~/Documents/FALL2021/COMP551/Assignment1/comp551-p1/Adult/adult-test.csv')

all_data = pd.concat([train, test], axis=0, sort=False)

train

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
train.sample(frac=0.5)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
864,24,Private,309055,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,15,United-States,<=50K
18087,47,Private,111961,HS-grad,9,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,30,United-States,<=50K
1580,31,Private,169104,Bachelors,13,Never-married,Sales,Own-child,Asian-Pac-Islander,Male,0,0,40,?,<=50K
18588,37,Private,238049,9th,5,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,30,El-Salvador,<=50K
29938,66,Self-emp-inc,102663,7th-8th,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14868,28,Private,214689,Bachelors,13,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,25,United-States,<=50K
28011,35,Private,82552,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,<=50K
18603,29,?,108775,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,Dominican-Republic,<=50K
19371,32,Self-emp-not-inc,182691,HS-grad,9,Never-married,Other-service,Unmarried,White,Male,0,0,60,United-States,<=50K
12872,25,Private,181814,HS-grad,9,Never-married,Craft-repair,Other-relative,White,Female,0,0,40,United-States,<=50K

In [11]:
def train_valid_split_CV(df, label_columns: list, frac=1, k=5):
    """
    Generator for k-fold cross validation.
    
    :param df: the dataframe containing the training and validation data
    :param label_columns: columns corresponding to the labels
    :param frac: fraction of the dataframe which should be used
    :param k: number of split in the cross validation
    :return: a tuple containing the training and validation data
    """
    # shuffle keep only a fraction of the entire dataframe    
    df = df.sample(frac=frac)
    split = np.array_split(df, k)
    for i in range(k):
        training_data = pd.concat([split[j] for j in range(k) if j != i], axis=0, sort=False)
        X_train = np.array(training_data.drop(label_columns), axis=1)
        Y_train = np.array(training_data[label_columns])
        
        validation_data = split[i]
        X_valid = np.array(validation_data.drop(label_columns), axis=1)
        Y_valid = np.array(validation_data[label_columns])
        
        yield X_train, X_valid, Y_train, Y_valid

In [17]:
for frac in [0.3, 0.5]:
    for train, valid in cross_validation_generator(train):
        model.fit(train)
        model.predict(valid)

       39          State-gov   77516      Bachelors   13        Never-married  \
23875  54        Federal-gov  332243           12th    8   Married-civ-spouse
14112  36            Private  181589      Bachelors   13        Never-married
20649  48            Private  216214           11th    7   Married-civ-spouse
27904  36            Private  179488   Some-college   10             Divorced
16914  30          Local-gov   44566      Bachelors   13   Married-civ-spouse
...    ..                ...     ...            ...  ...                  ...
6714   40            Private  229148           12th    8   Married-civ-spouse
9083   56            Private  139616      Bachelors   13             Divorced
13490  21            Private  185357        HS-grad    9        Never-married
27744  36   Self-emp-not-inc  239415        HS-grad    9   Married-civ-spouse
32309  21                  ?  205939   Some-college   10        Never-married

             Adm-clerical   Not-in-family   White     Male   2174   0   40  \
23875        Adm-clerical         Husband   White     Male      0   0   40
14112        Adm-clerical   Not-in-family   White   Female      0   0   32
20649   Machine-op-inspct         Husband   White     Male      0   0   40
27904        Adm-clerical       Unmarried   White     Male      0   0   40
16914      Prof-specialty         Husband   White     Male      0   0   80
...                   ...             ...     ...      ...    ...  ..  ...
6714     Transport-moving         Husband   Black     Male      0   0   40
9083      Exec-managerial   Not-in-family   White     Male      0   0   45
13490        Adm-clerical   Not-in-family   White     Male      0   0   50
27744     Farming-fishing         Husband   White     Male      0   0   35
32309                   ?       Own-child   White     Male      0   0   40

        United-States   <=50K
23875   United-States   <=50K
14112        Columbia   <=50K
20649   United-States   <=50K
27904          Canada   <=50K
16914   United-States   <=50K
...               ...     ...
6714          Jamaica   <=50K
9083    United-States    >50K
13490   United-States   <=50K
27744   United-States   <=50K
32309   United-States   <=50K

[26048 rows x 15 columns]
       39          State-gov   77516      Bachelors   13        Never-married  \
20706  20   Self-emp-not-inc  188274   Some-college   10        Never-married
14808  55            Private  195329        HS-grad    9              Widowed
8392   50       Self-emp-inc  119099   Some-college   10   Married-civ-spouse
18780  47          Local-gov  148576    Prof-school   15   Married-civ-spouse
3337   79                  ?  144533        HS-grad    9              Widowed
...    ..                ...     ...            ...  ...                  ...
4878   42          State-gov   55764     Assoc-acdm   12             Divorced
19761  41            Private  190591        HS-grad    9            Separated
8093   17          State-gov  117906           10th    6        Never-married
23202  35            Private  142616        HS-grad    9            Separated
14062  36            Private  232874      Bachelors   13   Married-civ-spouse

           Adm-clerical   Not-in-family   White     Male   2174   0   40  \
20706    Prof-specialty       Own-child   White     Male      0   0   10
14808     Other-service   Not-in-family   White   Female   2202   0   35
8392    Exec-managerial         Husband   White     Male      0   0   99
18780    Prof-specialty         Husband   White     Male      0   0   35
3337                  ?   Not-in-family   Black   Female      0   0   30
...                 ...             ...     ...      ...    ...  ..  ...
4878     Prof-specialty   Not-in-family   Black     Male      0   0   40
19761     Other-service       Unmarried   Black   Female      0   0   20
8093    Farming-fishing       Own-child   White     Male      0   0   40
23202     Other-service       Own-child   Black   Female      0   0   30
14062      Tech-support         Husband   White     Male      0   0   40

        United-States   <=50K
20706   United-States   <=50K
14808           Italy   <=50K
8392    United-States    >50K
18780   United-States   <=50K
3337    United-States   <=50K
...               ...     ...
4878    United-States   <=50K
19761   United-States   <=50K
8093    United-States   <=50K
23202   United-States   <=50K
14062   United-States   <=50K

[6512 rows x 15 columns]
       39          State-gov   77516      Bachelors   13        Never-married  \
20706  20   Self-emp-not-inc  188274   Some-college   10        Never-married
14808  55            Private  195329        HS-grad    9              Widowed
8392   50       Self-emp-inc  119099   Some-college   10   Married-civ-spouse
18780  47          Local-gov  148576    Prof-school   15   Married-civ-spouse
3337   79                  ?  144533        HS-grad    9              Widowed
...    ..                ...     ...            ...  ...                  ...
6714   40            Private  229148           12th    8   Married-civ-spouse
9083   56            Private  139616      Bachelors   13             Divorced
13490  21            Private  185357        HS-grad    9        Never-married
27744  36   Self-emp-not-inc  239415        HS-grad    9   Married-civ-spouse
32309  21                  ?  205939   Some-college   10        Never-married

            Adm-clerical   Not-in-family   White     Male   2174   0   40  \
20706     Prof-specialty       Own-child   White     Male      0   0   10
14808      Other-service   Not-in-family   White   Female   2202   0   35
8392     Exec-managerial         Husband   White     Male      0   0   99
18780     Prof-specialty         Husband   White     Male      0   0   35
3337                   ?   Not-in-family   Black   Female      0   0   30
...                  ...             ...     ...      ...    ...  ..  ...
6714    Transport-moving         Husband   Black     Male      0   0   40
9083     Exec-managerial   Not-in-family   White     Male      0   0   45
13490       Adm-clerical   Not-in-family   White     Male      0   0   50
27744    Farming-fishing         Husband   White     Male      0   0   35
32309                  ?       Own-child   White     Male      0   0   40

        United-States   <=50K
20706   United-States   <=50K
14808           Italy   <=50K
8392    United-States    >50K
18780   United-States   <=50K
3337    United-States   <=50K
...               ...     ...
6714          Jamaica   <=50K
9083    United-States    >50K
13490   United-States   <=50K
27744   United-States   <=50K
32309   United-States   <=50K

[26048 rows x 15 columns]
       39          State-gov   77516      Bachelors   13        Never-married  \
23875  54        Federal-gov  332243           12th    8   Married-civ-spouse
14112  36            Private  181589      Bachelors   13        Never-married
20649  48            Private  216214           11th    7   Married-civ-spouse
27904  36            Private  179488   Some-college   10             Divorced
16914  30          Local-gov   44566      Bachelors   13   Married-civ-spouse
...    ..                ...     ...            ...  ...                  ...
16780  33   Self-emp-not-inc   73585           11th    7   Married-civ-spouse
15033  45            Private  201865      Doctorate   16   Married-civ-spouse
3593   59                  ?  154236        HS-grad    9   Married-civ-spouse
1802   38       Self-emp-inc  112847    Prof-school   15   Married-civ-spouse
28444  61            Private  380462        7th-8th    4   Married-civ-spouse

             Adm-clerical   Not-in-family                White     Male  \
23875        Adm-clerical         Husband                White     Male
14112        Adm-clerical   Not-in-family                White   Female
20649   Machine-op-inspct         Husband                White     Male
27904        Adm-clerical       Unmarried                White     Male
16914      Prof-specialty         Husband                White     Male
...                   ...             ...                  ...      ...
16780        Craft-repair         Husband                White     Male
15033     Exec-managerial         Husband                White     Male
3593                    ?            Wife                White   Female
1802       Prof-specialty         Husband   Asian-Pac-Islander     Male
28444     Farming-fishing         Husband                Black     Male

        2174   0   40   United-States   <=50K
23875      0   0   40   United-States   <=50K
14112      0   0   32        Columbia   <=50K
20649      0   0   40   United-States   <=50K
27904      0   0   40          Canada   <=50K
16914      0   0   80   United-States   <=50K
...      ...  ..  ...             ...     ...
16780      0   0   50   United-States   <=50K
15033      0   0   45   United-States    >50K
3593    7688   0   40   United-States    >50K
1802       0   0   40   United-States    >50K
28444      0   0   40   United-States   <=50K

[6512 rows x 15 columns]
       39          State-gov   77516      Bachelors   13        Never-married  \
20706  20   Self-emp-not-inc  188274   Some-college   10        Never-married
14808  55            Private  195329        HS-grad    9              Widowed
8392   50       Self-emp-inc  119099   Some-college   10   Married-civ-spouse
18780  47          Local-gov  148576    Prof-school   15   Married-civ-spouse
3337   79                  ?  144533        HS-grad    9              Widowed
...    ..                ...     ...            ...  ...                  ...
6714   40            Private  229148           12th    8   Married-civ-spouse
9083   56            Private  139616      Bachelors   13             Divorced
13490  21            Private  185357        HS-grad    9        Never-married
27744  36   Self-emp-not-inc  239415        HS-grad    9   Married-civ-spouse
32309  21                  ?  205939   Some-college   10        Never-married

            Adm-clerical   Not-in-family   White     Male   2174   0   40  \
20706     Prof-specialty       Own-child   White     Male      0   0   10
14808      Other-service   Not-in-family   White   Female   2202   0   35
8392     Exec-managerial         Husband   White     Male      0   0   99
18780     Prof-specialty         Husband   White     Male      0   0   35
3337                   ?   Not-in-family   Black   Female      0   0   30
...                  ...             ...     ...      ...    ...  ..  ...
6714    Transport-moving         Husband   Black     Male      0   0   40
9083     Exec-managerial   Not-in-family   White     Male      0   0   45
13490       Adm-clerical   Not-in-family   White     Male      0   0   50
27744    Farming-fishing         Husband   White     Male      0   0   35
32309                  ?       Own-child   White     Male      0   0   40

        United-States   <=50K
20706   United-States   <=50K
14808           Italy   <=50K
8392    United-States    >50K
18780   United-States   <=50K
3337    United-States   <=50K
...               ...     ...
6714          Jamaica   <=50K
9083    United-States    >50K
13490   United-States   <=50K
27744   United-States   <=50K
32309   United-States   <=50K

[26048 rows x 15 columns]
       39          State-gov   77516      Bachelors   13        Never-married  \
3126   25            Private  131976      Bachelors   13        Never-married
19319  28                  ?   78388           10th    6        Never-married
17410  37            Private  256636        HS-grad    9   Married-civ-spouse
202    42          Local-gov  254817   Some-college   10        Never-married
7682   24                  ?  112683        HS-grad    9        Never-married
...    ..                ...     ...            ...  ...                  ...
7722   24            Private  382146   Some-college   10        Never-married
15440  67   Self-emp-not-inc  268514      Bachelors   13             Divorced
4610   41            Private  147314        HS-grad    9   Married-civ-spouse
12736  50            Private  196975        HS-grad    9   Married-civ-spouse
27618  39            Private  248011      Assoc-voc   11   Married-civ-spouse

             Adm-clerical   Not-in-family                White     Male  \
3126      Exec-managerial       Own-child                White     Male
19319                   ?       Own-child                White   Female
17410    Transport-moving         Husband                White     Male
202        Prof-specialty   Not-in-family                White   Female
7682                    ?   Not-in-family                White   Female
...                   ...             ...                  ...      ...
7722       Prof-specialty   Not-in-family                Black     Male
15440      Prof-specialty   Not-in-family                White     Male
4610                Sales         Husband   Amer-Indian-Eskimo     Male
12736        Craft-repair         Husband                White     Male
27618   Machine-op-inspct         Husband                White     Male

        2174     0   40   United-States   <=50K
3126       0     0   55   United-States   <=50K
19319      0     0   38   United-States   <=50K
17410      0     0   40   United-States   <=50K
202        0  1340   40   United-States   <=50K
7682       0     0   32   United-States   <=50K
...      ...   ...  ...             ...     ...
7722       0     0   40   United-States   <=50K
15440      0     0   40   United-States   <=50K
4610       0     0   50   United-States   <=50K
12736      0     0   40   United-States    >50K
27618   5178     0   40   United-States    >50K

[6512 rows x 15 columns]
       39          State-gov   77516      Bachelors   13        Never-married  \
20706  20   Self-emp-not-inc  188274   Some-college   10        Never-married
14808  55            Private  195329        HS-grad    9              Widowed
8392   50       Self-emp-inc  119099   Some-college   10   Married-civ-spouse
18780  47          Local-gov  148576    Prof-school   15   Married-civ-spouse
3337   79                  ?  144533        HS-grad    9              Widowed
...    ..                ...     ...            ...  ...                  ...
6714   40            Private  229148           12th    8   Married-civ-spouse
9083   56            Private  139616      Bachelors   13             Divorced
13490  21            Private  185357        HS-grad    9        Never-married
27744  36   Self-emp-not-inc  239415        HS-grad    9   Married-civ-spouse
32309  21                  ?  205939   Some-college   10        Never-married

            Adm-clerical   Not-in-family   White     Male   2174   0   40  \
20706     Prof-specialty       Own-child   White     Male      0   0   10
14808      Other-service   Not-in-family   White   Female   2202   0   35
8392     Exec-managerial         Husband   White     Male      0   0   99
18780     Prof-specialty         Husband   White     Male      0   0   35
3337                   ?   Not-in-family   Black   Female      0   0   30
...                  ...             ...     ...      ...    ...  ..  ...
6714    Transport-moving         Husband   Black     Male      0   0   40
9083     Exec-managerial   Not-in-family   White     Male      0   0   45
13490       Adm-clerical   Not-in-family   White     Male      0   0   50
27744    Farming-fishing         Husband   White     Male      0   0   35
32309                  ?       Own-child   White     Male      0   0   40

        United-States   <=50K
20706   United-States   <=50K
14808           Italy   <=50K
8392    United-States    >50K
18780   United-States   <=50K
3337    United-States   <=50K
...               ...     ...
6714          Jamaica   <=50K
9083    United-States    >50K
13490   United-States   <=50K
27744   United-States   <=50K
32309   United-States   <=50K

[26048 rows x 15 columns]
       39          State-gov   77516      Bachelors   13        Never-married  \
4937   31            Private   47296   Some-college   10   Married-civ-spouse
1948   40            Private  102606        Masters   14   Married-civ-spouse
24310  42            Private  134509   Some-college   10        Never-married
3439   23       Self-emp-inc  214542   Some-college   10        Never-married
16034  37            Private  206888        HS-grad    9        Never-married
...    ..                ...     ...            ...  ...                  ...
4414   38   Self-emp-not-inc  357962            9th    5             Divorced
26543  43            Private  216497      Bachelors   13             Divorced
22763  44            Private  109273   Some-college   10        Never-married
29537  22            Private   32616   Some-college   10        Never-married
32287  21            Private   67804            9th    5        Never-married

             Adm-clerical   Not-in-family   White     Male   2174     0   40  \
4937         Adm-clerical            Wife   White   Female      0  1740   20
1948      Exec-managerial         Husband   White     Male      0     0   40
24310    Transport-moving       Unmarried   Black   Female      0     0   40
3439       Prof-specialty   Not-in-family   White     Male      0     0   50
16034     Exec-managerial   Not-in-family   White   Female      0     0   50
...                   ...             ...     ...      ...    ...   ...  ...
4414         Craft-repair   Not-in-family   White     Male      0     0   40
26543        Adm-clerical       Unmarried   White   Female      0     0   40
22763        Craft-repair   Not-in-family   White     Male      0     0   38
29537       Other-service   Not-in-family   White   Female      0     0   30
32287   Machine-op-inspct       Own-child   Black     Male      0     0   20

        United-States   <=50K
4937    United-States   <=50K
1948    United-States    >50K
24310   United-States   <=50K
3439    United-States   <=50K
16034   United-States   <=50K
...               ...     ...
4414    United-States   <=50K
26543         Germany   <=50K
22763   United-States   <=50K
29537   United-States   <=50K
32287   United-States   <=50K

[6512 rows x 15 columns]

       39          State-gov   77516      Bachelors   13        Never-married  \
20706  20   Self-emp-not-inc  188274   Some-college   10        Never-married
14808  55            Private  195329        HS-grad    9              Widowed
8392   50       Self-emp-inc  119099   Some-college   10   Married-civ-spouse
18780  47          Local-gov  148576    Prof-school   15   Married-civ-spouse
3337   79                  ?  144533        HS-grad    9              Widowed
...    ..                ...     ...            ...  ...                  ...
4414   38   Self-emp-not-inc  357962            9th    5             Divorced
26543  43            Private  216497      Bachelors   13             Divorced
22763  44            Private  109273   Some-college   10        Never-married
29537  22            Private   32616   Some-college   10        Never-married
32287  21            Private   67804            9th    5        Never-married

             Adm-clerical   Not-in-family   White     Male   2174   0   40  \
20706      Prof-specialty       Own-child   White     Male      0   0   10
14808       Other-service   Not-in-family   White   Female   2202   0   35
8392      Exec-managerial         Husband   White     Male      0   0   99
18780      Prof-specialty         Husband   White     Male      0   0   35
3337                    ?   Not-in-family   Black   Female      0   0   30
...                   ...             ...     ...      ...    ...  ..  ...
4414         Craft-repair   Not-in-family   White     Male      0   0   40
26543        Adm-clerical       Unmarried   White   Female      0   0   40
22763        Craft-repair   Not-in-family   White     Male      0   0   38
29537       Other-service   Not-in-family   White   Female      0   0   30
32287   Machine-op-inspct       Own-child   Black     Male      0   0   20

        United-States   <=50K
20706   United-States   <=50K
14808           Italy   <=50K
8392    United-States    >50K
18780   United-States   <=50K
3337    United-States   <=50K
...               ...     ...
4414    United-States   <=50K
26543         Germany   <=50K
22763   United-States   <=50K
29537   United-States   <=50K
32287   United-States   <=50K

[26048 rows x 15 columns]
       39          State-gov   77516      Bachelors   13        Never-married  \
27113  56            Private  204254           10th    6             Divorced
31922  55        Federal-gov  113398   Some-college   10        Never-married
6345   21            Private  223811      Assoc-voc   11        Never-married
32444  61            Private  190682        HS-grad    9              Widowed
25585  33            Private  176992   Some-college   10   Married-civ-spouse
...    ..                ...     ...            ...  ...                  ...
6714   40            Private  229148           12th    8   Married-civ-spouse
9083   56            Private  139616      Bachelors   13             Divorced
13490  21            Private  185357        HS-grad    9        Never-married
27744  36   Self-emp-not-inc  239415        HS-grad    9   Married-civ-spouse
32309  21                  ?  205939   Some-college   10        Never-married

            Adm-clerical   Not-in-family   White     Male   2174     0   40  \
27113      Other-service       Unmarried   Black   Female      0     0   45
31922       Adm-clerical       Unmarried   White     Male      0     0   40
6345     Exec-managerial       Own-child   White     Male      0     0   40
32444       Craft-repair   Not-in-family   Black   Female      0  1669   50
25585       Craft-repair         Husband   White     Male      0     0   40
...                  ...             ...     ...      ...    ...   ...  ...
6714    Transport-moving         Husband   Black     Male      0     0   40
9083     Exec-managerial   Not-in-family   White     Male      0     0   45
13490       Adm-clerical   Not-in-family   White     Male      0     0   50
27744    Farming-fishing         Husband   White     Male      0     0   35
32309                  ?       Own-child   White     Male      0     0   40

        United-States   <=50K
27113   United-States   <=50K
31922   United-States   <=50K
6345    United-States   <=50K
32444   United-States   <=50K
25585   United-States    >50K
...               ...     ...
6714          Jamaica   <=50K
9083    United-States    >50K
13490   United-States   <=50K
27744   United-States   <=50K
32309   United-States   <=50K

[6512 rows x 15 columns]

In [8]:
test_df = pd.DataFrame(data={'food': ['Burger', 'hotdog', 'hotdog', 'Burger', 'Cheese', 'hotdog'],
                            'color': ['red', 'blue', 'blue', 'red', 'blue', 'blue']})

In [9]:
test_df.shape[1]

2

In [10]:
ohe = OneHotEncoder(sparse=False)
ohe_arr = ohe.fit_transform(test_df)

In [11]:
ohe_arr

array([[1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0.]])

In [4]:
arr = np.array(
      [[[1., 0., 0.],[ 0., 1.]],
       [[0., 0., 1.],[ 1., 0.]],
       [[0., 0., 1.],[ 1., 0.]],
       [[1., 0., 0.],[ 0., 1.]],
       [[0., 1., 0.],[ 1., 0.]],
       [[0., 0., 1.],[ 1., 0.]]], dtype=object)

In [66]:
for feature_number in range(test_df.shape[1]):
    print([f for f in ohe.get_feature_names() if f'{feature_number}' in f])

['x0_Burger', 'x0_Cheese', 'x0_hotdog']
['x1_blue', 'x1_red']

In [43]:
for row in ohe_arr:
    print(row)
    print(''.join(str(int(b)) for b in row))
    
def encoding_as_str(matrix):
    res = [''.join(str(int(b)) for b in row) for row in matrix]
    return 'res', res
    
encoding_as_str(ohe_arr)

[1. 0. 0.]
100
[0. 0. 1.]
001
[0. 0. 1.]
001
[1. 0. 0.]
100
[0. 1. 0.]
010
[0. 0. 1.]
001

('res', ['100', '001', '001', '100', '010', '001'])

In [15]:
df = test_df.join(pd.DataFrame(data=ohe_arr, columns=ohe.get_feature_names()))

In [51]:
df

     food  x0_Burger  x0_Cheese  x0_hotdog
0  Burger        1.0        0.0        0.0
1  hotdog        0.0        0.0        1.0
2  hotdog        0.0        0.0        1.0
3  Burger        1.0        0.0        0.0
4  Cheese        0.0        1.0        0.0
5  hotdog        0.0        0.0        1.0

In [59]:
df[[f for f in ohe.get_feature_names() if '0' in f]].values.tolist()

[[1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0],
 [0.0, 0.0, 1.0],
 [1.0, 0.0, 0.0],
 [0.0, 1.0, 0.0],
 [0.0, 0.0, 1.0]]

In [53]:
pd.DataFrame(data=ohe_arr)# , columns=ohe.get_feature_names())

     0    1    2    3    4
0  1.0  0.0  0.0  0.0  1.0
1  0.0  0.0  1.0  1.0  0.0
2  0.0  0.0  1.0  1.0  0.0
3  1.0  0.0  0.0  0.0  1.0
4  0.0  1.0  0.0  1.0  0.0
5  0.0  0.0  1.0  1.0  0.0

In [25]:
s = '00010'
l = [c for c in s]

In [26]:
l

['0', '0', '0', '1', '0']

In [28]:
"".join(l)

'00010'

In [70]:
for feature_number in range(test_df.shape[1]):
    print(df[[f for f in ohe.get_feature_names() if f'{feature_number}' in f]])

   x0_Burger  x0_Cheese  x0_hotdog
0        1.0        0.0        0.0
1        0.0        0.0        1.0
2        0.0        0.0        1.0
3        1.0        0.0        0.0
4        0.0        1.0        0.0
5        0.0        0.0        1.0

KeyError: "None of [Index(['x1_blue', 'x1_red'], dtype='object')] are in the [columns]"

In [5]:
arr = np.array(
      [[[1., 0., 0.],[ 0., 1.]],
       [[0., 0., 1.],[ 1., 0.]],
       [[0., 0., 1.],[ 1., 0.]],
       [[1., 0., 0.],[ 0., 1.]],
       [[0., 1., 0.],[ 1., 0.]],
       [[0., 0., 1.],[ 1., 0.]]], dtype=object)

In [6]:
arr

array([[list([1.0, 0.0, 0.0]), list([0.0, 1.0])],
       [list([0.0, 0.0, 1.0]), list([1.0, 0.0])],
       [list([0.0, 0.0, 1.0]), list([1.0, 0.0])],
       [list([1.0, 0.0, 0.0]), list([0.0, 1.0])],
       [list([0.0, 1.0, 0.0]), list([1.0, 0.0])],
       [list([0.0, 0.0, 1.0]), list([1.0, 0.0])]], dtype=object)

In [12]:
ohe_arr

array([[1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0.]])

In [14]:
labels = np.array([0,0,1,1,0,0])

In [13]:
knn = KNeighborsClassifier(n_neighbors=5)

In [18]:
knn.fit(arr, labels)

ValueError: setting an array element with a sequence.

In [17]:
knn.predict([[1., 0., 0., 0., 1.]])

array([0])