In [1]:
import numpy as np
import pandas as pd

In [24]:
# Import data from csv files

train = pd.read_csv(r'~/Documents/FALL2021/COMP551/Assignment1/comp551-p1/Adult/adult.csv')
test = pd.read_csv(r'~/Documents/FALL2021/COMP551/Assignment1/comp551-p1/Adult/adult-test.csv')

all_data = pd.concat([train, test], axis=0, sort=False)

train

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [25]:
train.sample(frac=0.5)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1056,41,Private,302122,Assoc-voc,11,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
15915,23,Private,193586,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,25,United-States,<=50K
13436,42,Private,203542,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
30851,54,Private,174102,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
12128,33,Private,70447,HS-grad,9,Never-married,Transport-moving,Other-relative,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,40,Private,338740,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
18394,47,Local-gov,97419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,Black,Female,0,0,40,United-States,<=50K
10441,20,Private,528616,5th-6th,3,Never-married,Other-service,Other-relative,White,Male,0,0,40,Mexico,<=50K
29420,35,?,139770,Assoc-voc,11,Married-civ-spouse,?,Wife,White,Female,0,0,20,United-States,>50K
5198,42,Private,56483,Assoc-acdm,12,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K

In [26]:
def cross_validation_generator(df, frac=1, k=5):
    """
    Generator for k-fold cross validation.
    
    :param df: the dataframe containing the training and validation data
    :param frac: fraction of the dataframe which should be used
    :param k: number of split in the cross validation
    :return: a tuple containing the training and validation data
    """
    # shuffle keep only a fraction of the entire dataframe
    df = df.sample(frac=frac)
    split = np.array_split(df, k)
    for i in range(k):
        train = pd.concat([split[j] for j in range(k) if j != i], axis=0, sort=False)
        valid = split[i]
        yield train, valid